/*Smart phone nhỏ*/

@media screen and (min-width: 240px) {
    a.header_phone {
        margin-right: 35px;
    }
}


/*Iphone(480 x 640)*/

@media screen and (min-width: 320px) {
    a.header_phone {
        margin-right: 35px;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (min-width: 480px) {}


/*Ipad dọc(768 x 1024)*/

@media screen and (min-width: 768px) {}


/*Ipad ngang(1024 x 768)*/

@media screen and (min-width: 1024px) {
    a.header_phone {
        margin-right: 0px;
    }
}